<launch>
 



<group ns= "vehicle">

<arg name="model" />
 <arg name="gui" default="False" />
<param name="robot_description" textfile="$(find PolarisRanger900XP)/robots/PolarisRanger900XP.URDF" />
<node name="odom_vehicle_node" pkg="hubo_state_publisher" type="odom_vehicle_node" />
<node name="robot_state_publisher" pkg="robot_state_publisher"
type="state_publisher" />

</group>



<group ns="robot">

 <arg name="model" />
  <arg name="gui"  default="False" />
 <param name="robot_description" textfile="$(find drchubo_v3)/robots/drchubo_v3.urdf" />
<node name="odom_robot_node" pkg="hubo_state_publisher" type="odom_robot_node" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 
</group>

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
args="-d $(find drchubo_v3)/urdf.rviz" />




</launch>


