<launch>
 



<group ns= "vehicle">
<param name="tf_prefix" value="polaris" />
<arg name="model" />
 <arg name="gui" default="False" />
<param name="robot_description" textfile="$(find PolarisRanger900XP)/robots/PolarisRanger900XP.URDF" />




</group>



<group ns="robot">
<param name="tf_prefix" value="hubo"/>
 <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
 <param
    name="robot_description"
    textfile="$(find drchubo_v3)/robots/drchubo_v3.urdf" />


</group>
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />

<node name="robot_state_publisher" pkg="robot_state_publisher"
type="state_publisher" />

<node
    name="rviz"
    pkg="rviz"
    type="rviz"
args="-d $(find drchubo_v3)/urdf.rviz" />

</launch>


